.top{
    background-color:rgb(53,53,53);
}
body{
    color:whitesmoke;
}
header{
    font-size:72px;
    text-align: center;
}
h3{
    font-size: 26px;
    text-align: center;
}
.watch_description{
    color:black;
    float:left;
}
.watch_container{
    color:black;
}
.p{
    border-radius: 10px;
    border-color: black;
}